.image-carousel-container {
  width: 100%;
  position: relative;
}

.main-carousel {
  width: 100%;
}

.carousel-slide {
  outline: none;
}

.carousel-image {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

/* Estilos para los controles de Slick */
.main-carousel .slick-prev,
.main-carousel .slick-next {
  z-index: 10;
  width: 50px;
  height: 50px;
}

.main-carousel .slick-prev {
  left: 20px;
}

.main-carousel .slick-next {
  right: 20px;
}

.main-carousel .slick-prev:before,
.main-carousel .slick-next:before {
  font-size: 40px;
  color: #fff;
  opacity: 0.8;
}

.main-carousel .slick-prev:hover:before,
.main-carousel .slick-next:hover:before {
  opacity: 1;
}

.main-carousel .slick-dots {
  bottom: 30px;
  z-index: 10;
}

.main-carousel .slick-dots li button:before {
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
}

.main-carousel .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

@media (max-width: 1024px) {
  .carousel-image {
    height: 60vh;
    min-height: 450px;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    height: 50vh;
    min-height: 350px;
  }

  .main-carousel .slick-prev,
  .main-carousel .slick-next {
    width: 30px;
    height: 30px;
  }

  .main-carousel .slick-prev:before,
  .main-carousel .slick-next:before {
    font-size: 25px;
  }

  .main-carousel .slick-prev {
    left: 10px;
  }

  .main-carousel .slick-next {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    height: 40vh;
    min-height: 300px;
  }

  .main-carousel .slick-prev,
  .main-carousel .slick-next {
    width: 25px;
    height: 25px;
  }

  .main-carousel .slick-prev:before,
  .main-carousel .slick-next:before {
    font-size: 20px;
  }

  .main-carousel .slick-prev {
    left: 5px;
  }

  .main-carousel .slick-next {
    right: 5px;
  }
}

