.lightning-container {
<<<<<<< HEAD
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  opacity: 0.85;
  mix-blend-mode: screen;
  pointer-events: none;
=======
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0.7;
  mix-blend-mode: screen;
  pointer-events: none !important;
>>>>>>> ba2cc8b12e387322695e9380914d79421bb312cd
  z-index: 1;
}

