.lightning-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0.7;
  mix-blend-mode: screen;
  pointer-events: none !important;
  z-index: 1;
}

