.prism-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  pointer-events: auto;
  cursor: crosshair;
}

.prism-container canvas {
  mix-blend-mode: screen;
  pointer-events: auto;
}

